In [1]:
d = 3
d3 = int(str(d)*3)
d3/(3*d)

37.0

In [6]:
def thirty_seven_magic(d):
    """
    d is single digit number between 1-9
    """
    d3 = int(str(d)*3) # make a 3 digit number
    return d3/(3*d)

In [7]:
thirty_seven_magic(5)

37.0

In [8]:
for i in range(1,10):
    print(i, thrity_seven_magic(i))

1 37.0
2 37.0
3 37.0
4 37.0
5 37.0
6 37.0
7 37.0
8 37.0
9 37.0

In [10]:
len(str(2**1000))

302

In [11]:
"This is plain english text with some words".split()

['This', 'is', 'plain', 'english', 'text', 'with', 'some', 'words']

In [13]:
m = list("madam")

In [14]:
m2 = list(m)

In [15]:
m2.reverse()

In [16]:
m

['m', 'a', 'd', 'a', 'm']

In [17]:
m2

['m', 'a', 'd', 'a', 'm']

In [24]:
def is_palindrom(word):
    wl = list(str(word))
    wl2 = list(str(word))
    wl2.reverse()
    return "".join(wl) == "".join(wl2)

In [25]:
is_palindrom(121)

True

In [26]:
is_palindrom(222)

True

In [27]:
is_palindrom(112)

False

In [28]:
max(str(12123))

'3'

In [29]:
max([9211,9111,2322,9000,1999], key=lambda x: sum([int(d) for d in str(x)]))

1999

In [30]:
import pandas as pd

In [31]:
dfs = pd.read_html("https://www.mohfw.gov.in")

In [45]:
statewise = dfs[9].take([1,2],axis=1)

In [47]:
statewise = statewise.drop([27])

In [49]:
statewise.index = statewise['Name of State / UT']

In [53]:
statewise = statewise.take([1], axis=1)

In [59]:
statewise.to_dict()['Total Confirmed cases (Indian National)']

{'Andhra Pradesh': 14,
 'Andaman and Nicobar Islands': 9,
 'Bihar': 9,
 'Chandigarh': 8,
 'Chhattisgarh': 6,
 'Delhi': 38,
 'Goa': 2,
 'Gujarat': 52,
 'Haryana': 19,
 'Himachal Pradesh': 3,
 'Jammu and Kashmir': 31,
 'Karnataka': 76,
 'Kerala': 174,
 'Ladakh': 13,
 'Madhya Pradesh': 30,
 'Maharashtra': 183,
 'Manipur': 1,
 'Mizoram': 1,
 'Odisha': 3,
 'Puducherry': 1,
 'Punjab': 38,
 'Rajasthan': 52,
 'Tamil Nadu': 36,
 'Telengana': 56,
 'Uttarakhand': 5,
 'Uttar Pradesh': 54,
 'West Bengal': 17}