### Pandas ###

In [5]:
import pandas as pd
import numpy as np

In [6]:
x = pd.Series(range(10))

In [7]:
x

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [8]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [9]:
s

a    0.064706
b   -0.044805
c   -0.338100
d    1.371479
e    1.453901
dtype: float64

In [11]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(d)
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [12]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [13]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [14]:
s[0]

0.90615909898961733

In [15]:
s[:3]

a    0.906159
b    2.579405
c   -0.094229
dtype: float64

In [16]:
s[1:4:2]

b    2.579405
d   -0.402795
dtype: float64

In [17]:
s[s > s.median()]

a    0.906159
b    2.579405
dtype: float64

In [21]:
np.exp(s) # like ndarray

a     2.474799
b    13.189288
c     0.910074
d     0.668449
e     1.030485
dtype: float64

In [22]:
s['a'] #like a dict

0.90615909898961733

In [23]:
'e' in s

True

In [24]:
'z' in s

False

In [25]:
s + s

a    1.812318
b    5.158810
c   -0.188459
d   -0.805590
e    0.060058
dtype: float64

In [26]:
s * s

a    0.821124
b    6.653330
c    0.008879
d    0.162244
e    0.000902
dtype: float64

In [27]:
data = [["A", 1], ["B", 2], ["C", 3], ["D", 4]]

In [35]:
pd.DataFrame(data)

   0  1
0  A  1
1  B  2
2  C  3
3  D  4

In [29]:
d = {'one' : [1., 2., 3., 4.],
     'two' : [4., 3., 2., 1.]}

In [30]:
df = pd.DataFrame(d, index=['a','b','c','d'])

In [31]:
df

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [37]:
df['one']

a    1.0
b    2.0
c    3.0
d    4.0
Name: one, dtype: float64

In [39]:
df['one']['a']

1.0

In [40]:
df.columns

Index(['one', 'two'], dtype='object')

In [41]:
df.columns = ["column1", "column2"]

In [42]:
df

   column1  column2
a      1.0      4.0
b      2.0      3.0
c      3.0      2.0
d      4.0      1.0

In [45]:
df2 = df.set_index("column2")

In [46]:
df2

         column1
column2
4.0          1.0
3.0          2.0
2.0          3.0
1.0          4.0

In [50]:
df2['column1'][4.0]

1.0

In [51]:
df.to_csv("df.csv")

In [52]:
!cat df.csv

,column1,column2
a,1.0,4.0
b,2.0,3.0
c,3.0,2.0
d,4.0,1.0

### Playing with weather dataset ###