## Quick start to python ##

In [2]:
0 # python has some basic things like integers

0

In [7]:
1.2 # like floating point numbers

1.2

In [8]:
x = 3 # and it can save the values in a variable

In [9]:
x

3

In [10]:
print(x) # it has very useful built in functions

3

In [11]:
name = "Krishna"

In [12]:
name

'Krishna'

In [13]:
print(name)

Krishna

In [18]:
raga = input()

asawary

In [19]:
print(raga)

asawary

In [14]:
 # this is a comment in python

In [15]:
print("hello") # this is also a comment

hello

## Basic data types ##

Python supports integers and various operations on integers

In [10]:
2 + 2 # it has usual addition and subtraction

4

In [11]:
2 * 2 # multiplication

4

In [12]:
2 ** 3 # power

8

In [13]:
8 % 2 #divmod

0

In [24]:
9 % 2

1

In [6]:
2 ** 100 #python supports big numbers

1267650600228229401496703205376

In [7]:
2 ** 10000 #it supports really big numbers

19950631168807583848837421626835850838234968318861924548520089498529438830221946631919961684036194597899331129423209124271556491349413781117593785932096323957855730046793794526765246551266059895520550086918193311542508608460618104685509074866089624888090489894838009253941633257850621568309473902556912388065225096643874441046759871626985453222868538161694315775629640762836880760732228535091641476183956381458969463899410840960536267821064621427333394036525565649530603142680234969400335934316651459297773279665775606172582031407994198179607378245683762280037302885487251900834464581454650557929601414833921615734588139257095379769119277800826957735674444123062018757836325502728323789270710373802866393031428133241401624195671690574061419654342324638801248856147305207431992259611796250130992860241708340807605932320161268492288496255841312844061536738951487114256315111089745514203313820202931640957596464756010405845841566072044962867016515061920631004186422275908670900574606417856951911456055068251250406007519842261898059237118054444788072906395242548339221982707404473162376760846613033778706039803413197133493654622700563169937455508241780972810983291314403571877524768509857276937926433221599399876886660808368837838027643282775172273657572744784112294389733810861607423253291974813120197604178281965697475898164531258434135959862784130128185406283476649088690521047580882615823961985770122407044330583075869039319604603404973156583208672105913300903752823415539745394397715257455290510212310947321610753474825740775273986348298498340756937955646638621874569499279016572103701364433135817214311791398222983845847334440270964182851005072927748364550578634501100852987812389473928699540834346158807043959118985815145779177143619698728131459483783202081474982171858011389071228250905826817436220577475921417653715687725614904582904992461028630081535583308130101987675856234343538955409175623400844887526162643568648833519463720377293240094456246923254350400678027273837755376406726898636241037491410966718557050759098100246789880178271925953381282421954028302759408448955014676668389697996886241636313376393903373455801407636741877711055384225739499110186468219696581651485130494222369947714763069155468217682876200362777257723781365331611196811280792669481887201298643660768551639860534602297871557517947385246369446923087894265948217008051120322365496288169035739121368338393591756418733850510970271613915439590991598154654417336311656936031122249937969999226781732358023111862644575299135758175008199839236284615249881088960232244362173771618086357015468484058622329792853875623486556440536962622018963571028812361567512543338303270029097668650568557157505516727518899194129711337690149916181315171544007728650573189557450920330185304847113818315407324053319038462084036421763703911550639789000742853672196280903477974533320468368795868580237952218629120080742819551317948157624448298518461509704888027274721574688131594750409732115080498190455803416826949787141316063210686391511681774304792596709376

In [8]:
5 // 2

2

In [9]:
5 / 2

2.5

Python has floating point numbers

In [16]:
0.001 + 1

1.001

In [17]:
1.1 - 2.1

-1.0

Python has **strings** with lots of useful stuff with it

In [2]:
first = "Rupali"
second = "Rupak"

In [4]:
print(first, second)

Rupali Rupak

In [7]:
name = "Rupali" " Rupak"

In [6]:
name

'RupaliRupak'

In [8]:
name = first + second

In [9]:
print(name)

RupaliRupak

In [10]:
name = first + " " + second

In [14]:
name

'Rupali Rupak'

In [15]:
five = str(5)

In [16]:
five

'5'

In [17]:
star = "*"
rating = 5*star

In [18]:
rating

'*****'

In [23]:
sectionend = "="*50

In [24]:
print(sectionend)

==================================================

it supports escape characters, multiline strings, unicode strings

In [10]:
twolines = "first\nsecond\tcolumn"

In [11]:
twolines

'first\nsecond\tcolumn'

In [12]:
print(twolines)

first
second	column

In [30]:
multiline = """python is very simple
python is very powerful
python is close to human language, english
python has nothing to do with snakes
but has something to do with BBC's "Monty Python show"
"""

In [32]:
print(multiline)

python is very simple
python is very powerful
python is close to human language, english
python has nothing to do with snakes
but has something to do with BBC's "Monty Python show"

In [34]:
language = "मराठी"

In [35]:
len(language)

5

In [13]:
print("\u0c85\u0c86")

ಅಆ

Python also supports speicial type **bytes** to represent binary data

In [14]:
binary = b'binary'

In [18]:
hex(ord('b'))

'0x62'

In [24]:
binary = b'\x62\x69\x6e\x61\x72\x79'

In [25]:
binary

b'binary'

There are very usefull high level datatype called **list**

In [28]:
ones = [1,1,1,1]

In [29]:
ones

[1, 1, 1, 1]

In [32]:
moreones = ones + ones

In [33]:
moreones

[1, 1, 1, 1, 1, 1, 1, 1]

In [34]:
stillmoreones = ones * 5

In [35]:
stillmoreones

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [2]:
mixeditems = ["one","two",1,2]

In [3]:
mixeditems

['one', 'two', 1, 2]

In [43]:
mixeditems[0]

'one'

In [5]:
mixeditems[0] = "zero"

In [6]:
mixeditems

['zero', 'two', 1, 2]

In [47]:
len(mixeditems)

4

List objects have special mechanism by which you can index and slice list in an interesting way

In [55]:
topten = list(range(10))

In [56]:
topten

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
topten[-1]

9

In [50]:
topten[:2] #take first two elements

[0, 1]

In [51]:
topten[3:7]

[3, 4, 5, 6]

In [53]:
topten[2:]  # drop first two elements

[2, 3, 4, 5, 6, 7, 8, 9]

if we make lists of lists, we can have matrices

In [61]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [62]:
matrix[0] # 0th row

[1, 2, 3]

In [70]:
matrix[-1] #last row

[7, 8, 9]

In [71]:
matrix[0][0]

1

In [72]:
matrix[0][2]

3

There is a sibling of list called **tuple**.tuple is just like list except that it is immutable.

In [7]:
point = (1.1,2.0)

In [11]:
triangle = ((0,0),(0,1),(1,1))

In [12]:
triangle[0]

(0, 0)

In [13]:
triangle[0] = (0,0.5)

TypeError: 'tuple' object does not support item assignment

In [14]:
ones = (1,1,1)

In [15]:
ones * 5

(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

In [76]:
manyobjects = ((1,1,1),("a","b","c"),[1,2,3])

In [77]:
manyobjects

((1, 1, 1), ('a', 'b', 'c'), [1, 2, 3])

In [81]:
manyobjects[0]

(1, 1, 1)

In [82]:
manyobjects[-1]

[1, 2, 3]

In [83]:
manyobjects[0:1]

((1, 1, 1),)

In [16]:
yellow = (255, 255, 0) # R G B

In [17]:
r,g,b = yellow

In [20]:
dark_yellow = (0.8*r, 0.8*g, 0.8*b)
print(dark_yellow)

(204.0, 204.0, 0.0)

**Dictionaries** are named collections of objects. From dictionary, it is possible to get the object by name. List can be indexed only by numbers but dictionary can be indexed by object

In [22]:
machine = {"name":"mozart", "os":"debian","memory":4096,"cores":4}

In [23]:
machine['name']

'mozart'

In [25]:
machine['memory']

4096

Python also has **set** datatype which allows us to have collection of objects as sets

In [30]:
paragraph = """
Let us wirte a dummy python fiction
and let lets see how many alphabets are used from
english language
"""
alphabets = set(paragraph)

In [31]:
alphabets

{'\n',
 ' ',
 'L',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w',
 'y'}

And offcourse python can talk about True and False

In [32]:
sure = True
arrr = False

In [36]:
print(sure, arrr)

True False

Python has special thing which means nothing! We will dicover the use of nothing as we dive more deep in python

In [34]:
nothing = None

In [35]:
print(nothing)

None

### Do it yourself ###

- what is the difference in output of interpreter and output of print function for following case?
```
s = "Just to make sure, \nthat you understand new line"
s
print(s)
```
- will this work?
```
pre = "Isac"
post = "Asimove"
name = pre post
```
- What might be the output of this?
```
sentence = "Do geese see God?"
sentence[100]
sentence[3:100]
```
- What will be output of following sequence of commands in python interpreter? observe the behavior of special variable **_**
```
2**2
_
a = 5*6
a
_
_ = 67
a / 6
_
31 //6
_
```

### Functions ###
Before we look at how do we write our own functions in python let us go through some usefull built in functions provided by python

In [41]:
len("Python")

6

In [42]:
len([1,2,3,4])

4

In [43]:
len((1,2,3,4))

4

In [44]:
len({"jan":31,"feb":28,"mar":31,"april":30})

4

In [45]:
4 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
4 + int("2")

6

In [47]:
str(4) + "2"

'42'

**problem:** Using known functions till now, is it possible to find number of digits in a given number? lets say digits in `2**100`

In [51]:
digits = str(2**100)

In [52]:
digits

'1267650600228229401496703205376'

In [53]:
len(digits)

31

In [54]:
len(str(2**1000))

302

### Custom functions ###

In [61]:
def square(x):
    return x*x

def say_hello(name):
    print("hello", name)

In [62]:
square(5)

25

In [63]:
say_hello("hari")

hello hari

In [65]:
value = square(5.5)
print(value)

30.25

In [66]:
return_value = say_hello("hari")

hello hari

In [67]:
print(return_value)

None

### Do it yourself ###
- Write a function `count_digits` to count number of digits in a given number. it should work as given below
```
count_digits(100)
3
count_digits(10000)
5
```
- Before trying out following code in python , guess what will be the output?

```
def twice(x):
    return 2*x
    
def twice1(x):
    print(2*x)
    
twice(twice(2))
twice1(twice1(2))
```

### More about functions ###
Fuctions in python are ordinary in a sense that they are nothing special than integers or floats or any other objects. But this make functions in python very special as compared to other programming langauages.

In [70]:
def func(x):
    return 2*x

In [71]:
func

In [81]:
type(func)

function

In [72]:
func(2)

4

In [73]:
twotimes

NameError: name 'twotimes' is not defined

In [74]:
twotimes = func

In [75]:
twotimes

In [82]:
type(twotimes)

function

In [76]:
twotimes(3)

6

This means just like any other object, functions can be bound to any name you wish. it can have aliases, i.e. multiple name bindings. This also means that functions can be passed as argument to other function or functions can be returned as a value from other function. How can this fact be useful?

In [77]:
def sumation(x,y):
    return x+y

In [84]:
def square(x):
    return x*x

def sumofsquares(x,y):
    return square(x) + square(y)

In [83]:
def cube(x):
    return x**3

def sumofcubes(x,y):
    return cube(x) + cube(y)

Doesn't this look against **DRY** (Do not repeat yourself) principle! can we generalize the idea?

In [80]:
def sumof(f, x, y):
    return f(x) + f(y)

In [85]:
sumof(square, 1,2)

5