### Working with json data

In [62]:
import json

In [63]:
pydta = {"value":[1, 2, 3, 4, 5],
 "symbol":["X","Y","Z","A","B"]
}

In [64]:
json.dumps(pydta)

'{"value": [1, 2, 3, 4, 5], "symbol": ["X", "Y", "Z", "A", "B"]}'

### Example nsetools on through venv and cmd

In [66]:
from nsetools import Nse
nse = Nse()
nse.get_quote('infy')
nse.get_quote('infy', as_json=True)
nse.get_index_list()
nse.get_index_quote("nifty bank")
nse.get_stock_codes()
nse.get_index_list()
nse.get_advances_declines()
nse.get_top_gainers()
nse.get_fno_lot_sizes()

ModuleNotFoundError: No module named 'nsetools'

### Downloading data from internet

In [1]:
import requests

In [4]:
resp = requests.get("https://api.github.com/events")

In [5]:
resp.status_code

200

### get requests
whats a get request? Search in seacrh engine is get request. for exmaple look at this request

In [24]:
url = "https://httpbin.org/get"

In [27]:
resp = requests.get(url, params={"x":"hello","q":"world"})

In [28]:
resp.json()

{'args': {'q': 'world', 'x': 'hello'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.24.0',
  'X-Amzn-Trace-Id': 'Root=1-5f61ad36-338a4f621e33a534db3ef368'},
 'origin': '157.33.153.191',
 'url': 'https://httpbin.org/get?x=hello&q=world'}

### Alphavantage example

In [34]:
API_KEY  = "UKVFE0JLE0TBPDEF"
alphavantageurl = "https://www.alphavantage.co/query"

In [35]:
params = {"function":"TIME_SERIES_INTRADAY",
          "apikey":API_KEY,
          "interval":"30min",
          "symbol":"IBM"}

resp = requests.get(alphavantageurl, params)

In [37]:
resp.json()
import pandas as pd

In [40]:
data = resp.json()

In [43]:
meta = data['Meta Data']
del data['Meta Data']

In [55]:
columns = {}
labels = []
for time, item in data['Time Series (30min)'].items():
    labels.append(time)
    for k,v in item.items():
        columns.setdefault(k, []).append(v)
        
pd.DataFrame(columns, index=labels)

                      1. open   2. high    3. low  4. close 5. volume
2020-09-15 20:00:00  122.4000  122.4000  122.4000  122.4000       600
2020-09-15 19:30:00  122.4600  122.4600  122.4600  122.4600       100
2020-09-15 18:30:00  122.5000  122.5500  122.5000  122.5500       474
2020-09-15 17:30:00  122.6900  122.6900  122.6900  122.6900       101
2020-09-15 16:30:00  122.4400  122.4400  122.4400  122.4400     60581
...                       ...       ...       ...       ...       ...
2020-09-09 14:30:00  123.2350  123.4300  123.0550  123.2100    159330
2020-09-09 14:00:00  123.1700  123.4500  123.0900  123.2300    190492
2020-09-09 13:30:00  122.8200  123.3300  122.7800  123.1800    156239
2020-09-09 13:00:00  122.7700  122.9840  122.7300  122.8200    134224
2020-09-09 12:30:00  122.5600  122.8600  122.5400  122.7422    110373

[100 rows x 5 columns]

### Authentication

In [79]:
user = "vikipedia"
pass_ = open("/tmp/pass.txt").read().strip()
resp = requests.get("http://api.github.com/user", auth=("vikipedia", pass_))

In [80]:
resp.json()

{'login': 'vikipedia',
 'id': 30557,
 'node_id': 'MDQ6VXNlcjMwNTU3',
 'avatar_url': 'https://avatars3.githubusercontent.com/u/30557?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/vikipedia',
 'html_url': 'https://github.com/vikipedia',
 'followers_url': 'https://api.github.com/users/vikipedia/followers',
 'following_url': 'https://api.github.com/users/vikipedia/following{/other_user}',
 'gists_url': 'https://api.github.com/users/vikipedia/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/vikipedia/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/vikipedia/subscriptions',
 'organizations_url': 'https://api.github.com/users/vikipedia/orgs',
 'repos_url': 'https://api.github.com/users/vikipedia/repos',
 'events_url': 'https://api.github.com/users/vikipedia/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/vikipedia/received_events',
 'type': 'User',
 'site_admin': False,
 'name': 'vikrant',
 'company': None,
 'blog': '',
 'location': 'kudawale, dapoli, pune',
 'email': 'vikrant.patil@gmail.com',
 'hireable': None,
 'bio': None,
 'twitter_username': None,
 'public_repos': 7,
 'public_gists': 0,
 'followers': 9,
 'following': 0,
 'created_at': '2008-10-23T08:54:39Z',
 'updated_at': '2020-09-16T08:25:20Z',
 'private_gists': 0,
 'total_private_repos': 1,
 'owned_private_repos': 1,
 'disk_usage': 7840,
 'collaborators': 0,
 'two_factor_authentication': False,
 'plan': {'name': 'free',
  'space': 976562499,
  'collaborators': 0,
  'private_repos': 10000}}

### Post request

In [57]:
resp = requests.post("https://httpbin.org/post", data={"input1":"x","input2":'y'})

In [58]:
resp.json()

{'args': {},
 'data': '',
 'files': {},
 'form': {'input1': 'x', 'input2': 'y'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate',
  'Content-Length': '17',
  'Content-Type': 'application/x-www-form-urlencoded',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.24.0',
  'X-Amzn-Trace-Id': 'Root=1-5f61b62a-300540ef9217828ec60c4040'},
 'json': None,
 'origin': '157.33.153.191',
 'url': 'https://httpbin.org/post'}

In [59]:
resp = requests.post("https://httpbin.org/post", data={"input1":"x","input2":'y'})

### Downloading a file

In [67]:
def download(url, filename):
    resp = requests.get(url)
    with open(filename, "wb") as f:
        f.write(resp.content)


if file is very big

In [69]:
def download_big(url, filename, chunksize=1024):
    resp = requests.get(url)
    with open(filename, "wb") as f:
        for chunk in resp.iter_content(chunk_size=chunksize):
            f.write(chunk)

### General Scraping

In [70]:
url = "http://www.thehindu.com/"
response = requests.get(url, params={"service":"rss"})
xmltext = response.text
print(xmltext[:1200])

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>The Hindu - Home</title>
        <link>https://www.thehindu.com/</link>
        <description>Default RSS Feed</description>
        <language>en-us</language>
        <copyright>Copyright 2020 The Hindu</copyright>
        <item>
            <title><![CDATA[Madonna to direct, co-write biopic about herself ]]></title>
            <author><![CDATA[AP]]></author>
            <category><![CDATA[Movies]]></category>
            <link>https://www.thehindu.com/entertainment/movies/madonna-to-direct-co-write-biopic-about-herself/article32618321.ece</link>
            <description><![CDATA[
                Madonna, whose last album was 2019’s ‘Madame X,’ has sold 335 million records worldwide in her career
            ]]></description>
            <pubDate><![CDATA[Wed, 16 Sep 2020 12:42:29 +0530]]></pubDate>
        </item>
        <item>
            <title><![CDATA[Look forward to jointly take our special strategic partnership to new heights: Modi to new Japan PM ]]></title>
            <author><![CDATA[PTI]]></author>
            <category><![CDATA[National]]></category>

In [72]:
from xml.etree import ElementTree as et
root = et.fromstring(xmltext)
items = root.findall(".//item")
items[0]

In [75]:
print(et.tostring(items[0]).decode())

<item>
            <title>Madonna to direct, co-write biopic about herself </title>
            <author>AP</author>
            <category>Movies</category>
            <link>https://www.thehindu.com/entertainment/movies/madonna-to-direct-co-write-biopic-about-herself/article32618321.ece</link>
            <description>
                Madonna, whose last album was 2019&#8217;s &#8216;Madame X,&#8217; has sold 335 million records worldwide in her career
            </description>
            <pubDate>Wed, 16 Sep 2020 12:42:29 +0530</pubDate>
        </item>

In [76]:
for item in items[:10]:
    print(item.findtext("title"))
    print(item.findtext("link"))
    print("-"*30)

Madonna to direct, co-write biopic about herself
https://www.thehindu.com/entertainment/movies/madonna-to-direct-co-write-biopic-about-herself/article32618321.ece
------------------------------
Look forward to jointly take our special strategic partnership to new heights: Modi to new Japan PM
https://www.thehindu.com/news/national/look-forward-to-jointly-take-our-special-strategic-partnership-to-new-heights-modi-to-new-japan-pm/article32618256.ece
------------------------------
Punjab police solve murder case involving Suresh Raina’s relatives
https://www.thehindu.com/news/national/other-states/punjab-police-solve-murder-case-involving-suresh-rainas-relatives/article32618255.ece
------------------------------
Will take necessary measures to promote growth: RBI Governor
https://www.thehindu.com/business/Economy/will-take-necessary-measures-to-promote-growth-rbi-governor/article32618226.ece
------------------------------
Congress members raise in RS reports of data mining by Chinese firm
https://www.thehindu.com/news/national/congress-members-raise-in-rs-reports-of-data-mining-by-chinese-firm/article32618219.ece
------------------------------
Madras University to offer BA and MA Tamil lessons on Swayam Prabha TV
https://www.thehindu.com/news/national/tamil-nadu/madras-university-to-offer-ba-and-ma-tamil-lessons-on-swayam-prabha-tv/article32618171.ece
------------------------------
Indian-origin author Avni Doshi on Booker Prize shortlist
https://www.thehindu.com/news/international/indian-origin-author-avni-doshi-on-booker-prize-shortlist/article32618146.ece
------------------------------
Suga formally elected as Japan PM, readies 'continuity cabinet'
https://www.thehindu.com/news/international/suga-formally-elected-as-japan-pm-readies-continuity-cabinet/article32618132.ece
------------------------------
Mira Nair wins TIFF Tribute award, says important to tell our own stories
https://www.thehindu.com/entertainment/movies/mira-nair-wins-tiff-tribute-award-says-important-to-tell-our-own-stories/article32618125.ece
------------------------------
Line utilisation on Delhi Metro network steadily increasing
https://www.thehindu.com/news/cities/Delhi/line-utilisation-on-delhi-metro-network-steadily-increasing/article32618070.ece
------------------------------