### Opening outlook using python

Create virtual environment using (use cmd prompt to do this)

`python.exe -m venv pywinservices`

activate the environment using

`.\pytwinservices\Scripts\activate.bat`

on activated environment install following package and use follwoing code

`python -m pip install pypiwin32 typer`

In [2]:
%%file outlook.py
import win32com.client
import typer

app = typer.Typer()

@app.command()
def print_emails(folderindex:int=6, emailcount:int=3): # with this you can change 
    """
    folderindex 3, 4, 5, 6 ..Trash, Outbox, Sent, Inbox 
    """                                                    # folders,and emailcount, 
                                                        # try different numbers
    outlook = win32com.client.Dispatch("Outlook.Application").GetNamespace("MAPI")
    inbox = outlook.GetDefaultFolder(folderindex)
    messages = inbox.Items
    for i in range(emailcount):
        message = messages[i]
        print(message.Subject)
        print(message.Body)
        print("="*30)
        
if __name__ == "__main__":
    app()

Overwriting outlook.py

### Database

In [29]:
import sqlite3

In [30]:
conn = sqlite3.connect("a.db")
cur = conn.cursor()
result = cur.execute("select * from person")
result.fetchall()

[('alice', 'alice@example.com')]

In [34]:
# WARNING: not a good implementation
def find_person(email):
    q = "select * from person where email='{}'".format(email)
    print(q)
    cur = conn.cursor()
    result = cur.execute(q)
    return result.fetchone()

find_person("alice@example.com")

select * from person where email='alice@example.com'

('alice', 'alice@example.com')

In [37]:
def find_person(email):
    query = "select * from person where email=?"
    cur = conn.cursor()
    result = cur.execute(query, (email,))
    return result.fetchone()
    
find_person("alice@example.com")

('alice', 'alice@example.com')

In [38]:
def query(conn, querystring, params=()):
    cur = conn.cursor()
    result = cur.execute(querystring, params)
    return result.fetchall()

query(conn, "select * from person where name=?", ("alice",))

[('alice', 'alice@example.com')]

In [39]:
query(conn, "select * from person")

[('alice', 'alice@example.com')]

In [40]:
conn.close()

In [41]:
import pandas as pd
conn = sqlite3.connect("wallet.db")

In [48]:
df = pd.read_csv("wallet1.csv")

In [50]:
df.to_sql("wallet", con=conn, if_exists="replace")

100

In [51]:
r = conn.cursor().execute("select * from wallet")

In [52]:
for item in r:
    print(item)

(0, 0, '2020-12-22 07:15:07.815379', 'Utility', 'Electricity', 418.3354775217243)
(1, 1, '2021-08-28 15:15:07.815379', 'Travel', 'Auto', 301.3777497294401)
(2, 2, '2021-04-01 17:15:07.815379', 'Books', 'Flipcart', 176.64556316410133)
(3, 3, '2021-02-25 16:15:07.815379', 'Travel', 'Auto', 157.07182841795515)
(4, 4, '2021-03-05 09:15:07.815379', 'Utility', 'Phone', 107.68343696792935)
(5, 5, '2021-07-29 12:15:07.815379', 'Travel', 'Metro', 339.4906184538765)
(6, 6, '2021-02-03 08:15:07.815379', 'Travel', 'Taxi', 348.49297261177713)
(7, 7, '2021-02-10 15:15:07.815379', 'Food', 'Zomato', 495.4599281797951)
(8, 8, '2021-01-23 13:15:07.815379', 'Music', 'Amazon', 443.53640829192335)
(9, 9, '2021-02-15 08:15:07.815379', 'Food', 'Zomato', 315.50928061465976)
(10, 10, '2021-02-11 14:15:07.815379', 'Travel', 'Metro', 345.89996036923293)
(11, 11, '2020-10-15 08:15:07.815379', 'Food', 'Swiggy', 427.99497007803296)
(12, 12, '2021-01-29 11:15:07.815379', 'Utility', 'Phone', 308.71135498523984)
(13, 13, '2021-05-30 09:15:07.815379', 'Books', 'Amazon', 153.8028349959245)
(14, 14, '2021-06-12 12:15:07.815379', 'Music', 'spotify', 295.95535498165725)
(15, 15, '2021-02-07 13:15:07.815379', 'Travel', 'Auto', 390.6120017299408)
(16, 16, '2021-06-10 12:15:07.815379', 'Music', 'Netflix', 304.2118311911406)
(17, 17, '2021-02-05 07:15:07.815379', 'Travel', 'Taxi', 361.6209409660257)
(18, 18, '2020-10-22 15:15:07.815379', 'Food', 'Swiggy', 447.4365389177168)
(19, 19, '2020-11-20 11:15:07.815379', 'Food', 'Swiggy', 264.8653450400193)
(20, 20, '2021-01-18 08:15:07.815379', 'Travel', 'Taxi', 163.8499257229653)
(21, 21, '2021-05-26 09:15:07.815379', 'Books', 'Flipcart', 124.37875915215405)
(22, 22, '2020-10-07 15:15:07.815379', 'Utility', 'Electricity', 448.6176040109191)
(23, 23, '2021-08-11 11:15:07.815379', 'Food', 'Hotel', 115.63502792106505)
(24, 24, '2021-02-01 16:15:07.815379', 'Music', 'Netflix', 127.00735257654728)
(25, 25, '2021-03-18 09:15:07.815379', 'Books', 'Amazon', 410.88379060061874)
(26, 26, '2021-05-28 11:15:07.815379', 'Books', 'Amazon Kindle', 225.38984520602625)
(27, 27, '2021-04-28 10:15:07.815379', 'Music', 'spotify', 100.6940793006998)
(28, 28, '2021-08-25 09:15:07.815379', 'Travel', 'Taxi', 365.7390292317421)
(29, 29, '2021-09-08 15:15:07.815379', 'Food', 'Swiggy', 477.4273830119777)
(30, 30, '2021-01-01 17:15:07.815379', 'Food', 'Zomato', 112.64443770713042)
(31, 31, '2021-08-30 10:15:07.815379', 'Travel', 'Metro', 338.3506457426912)
(32, 32, '2021-03-07 08:15:07.815379', 'Travel', 'Taxi', 467.2250511034058)
(33, 33, '2020-12-22 17:15:07.815379', 'Music', 'spotify', 479.436093374705)
(34, 34, '2021-07-24 09:15:07.815379', 'Food', 'Swiggy', 211.02999249741663)
(35, 35, '2021-01-16 07:15:07.815379', 'Travel', 'Taxi', 354.51689121024253)
(36, 36, '2021-07-27 14:15:07.815379', 'Travel', 'Metro', 434.1058960264933)
(37, 37, '2021-08-12 10:15:07.815379', 'Food', 'Swiggy', 229.54874118750448)
(38, 38, '2021-07-25 08:15:07.815379', 'Food', 'Swiggy', 369.85192572939593)
(39, 39, '2021-01-14 12:15:07.815379', 'Music', 'Amazon', 243.64743248564815)
(40, 40, '2021-07-01 07:15:07.815379', 'Music', 'Netflix', 429.157774888694)
(41, 41, '2021-04-05 14:15:07.815379', 'Food', 'Zomato', 132.02891156372027)
(42, 42, '2021-02-07 13:15:07.815379', 'Books', 'Flipcart', 204.20687859075693)
(43, 43, '2020-11-17 08:15:07.815379', 'Food', 'Hotel', 264.3160925083697)
(44, 44, '2020-12-26 15:15:07.815379', 'Music', 'Amazon', 135.76771299310093)
(45, 45, '2021-05-03 08:15:07.815379', 'Utility', 'Phone', 439.0713008628418)
(46, 46, '2021-03-03 17:15:07.815379', 'Books', 'Amazon', 250.4081973171163)
(47, 47, '2021-06-10 09:15:07.815379', 'Books', 'Amazon Kindle', 438.5552776315245)
(48, 48, '2021-02-22 14:15:07.815379', 'Travel', 'Metro', 211.18254910833645)
(49, 49, '2021-06-12 13:15:07.815379', 'Utility', 'Electricity', 148.24880160403643)
(50, 50, '2020-10-08 11:15:07.815379', 'Utility', 'Phone', 163.55563419924985)
(51, 51, '2021-01-20 12:15:07.815379', 'Food', 'Swiggy', 309.58723368544395)
(52, 52, '2020-10-17 15:15:07.815379', 'Music', 'spotify', 454.1212541379086)
(53, 53, '2021-05-15 16:15:07.815379', 'Food', 'Hotel', 362.2648612294762)
(54, 54, '2021-07-19 13:15:07.815379', 'Travel', 'Metro', 127.317995072046)
(55, 55, '2021-07-01 16:15:07.815379', 'Utility', 'Electricity', 160.39727446149246)
(56, 56, '2021-01-06 12:15:07.815379', 'Books', 'Amazon Kindle', 459.64286672906553)
(57, 57, '2021-05-10 11:15:07.815379', 'Music', 'spotify', 399.1312865363829)
(58, 58, '2020-09-23 11:15:07.815379', 'Music', 'Netflix', 211.40800191123608)
(59, 59, '2020-11-01 09:15:07.815379', 'Books', 'Amazon Kindle', 409.49565458666495)
(60, 60, '2021-04-05 07:15:07.815379', 'Utility', 'Electricity', 118.15547598859476)
(61, 61, '2021-01-10 09:15:07.815379', 'Food', 'Swiggy', 182.63688719152623)
(62, 62, '2021-08-26 11:15:07.815379', 'Utility', 'Electricity', 191.4426870922433)
(63, 63, '2021-08-18 15:15:07.815379', 'Music', 'Amazon', 157.34050464688707)
(64, 64, '2020-12-19 14:15:07.815379', 'Music', 'Amazon', 196.30725905139167)
(65, 65, '2021-02-11 08:15:07.815379', 'Travel', 'Auto', 433.966000008112)
(66, 66, '2020-12-29 15:15:07.815379', 'Music', 'Netflix', 466.7562984772105)
(67, 67, '2021-02-17 11:15:07.815379', 'Travel', 'Metro', 178.26125745738483)
(68, 68, '2021-01-06 16:15:07.815379', 'Music', 'Netflix', 489.5069570634831)
(69, 69, '2021-05-18 10:15:07.815379', 'Books', 'Amazon', 340.04846422559376)
(70, 70, '2021-05-01 10:15:07.815379', 'Utility', 'Electricity', 249.7879331429329)
(71, 71, '2020-12-25 13:15:07.815379', 'Utility', 'Phone', 359.72736244936607)
(72, 72, '2021-01-11 16:15:07.815379', 'Food', 'Hotel', 467.6109243091568)
(73, 73, '2021-07-21 13:15:07.815379', 'Music', 'Netflix', 259.4012248221076)
(74, 74, '2020-10-28 14:15:07.815379', 'Food', 'Swiggy', 272.16030559915646)
(75, 75, '2021-06-23 14:15:07.815379', 'Travel', 'Metro', 253.5371754181714)
(76, 76, '2021-05-14 14:15:07.815379', 'Utility', 'Phone', 288.20600505758887)
(77, 77, '2021-04-12 13:15:07.815379', 'Music', 'spotify', 134.1256239746048)
(78, 78, '2020-12-30 12:15:07.815379', 'Books', 'Amazon', 459.04531817691054)
(79, 79, '2021-04-01 10:15:07.815379', 'Books', 'Amazon Kindle', 131.23496926686147)
(80, 80, '2020-09-24 07:15:07.815379', 'Books', 'Flipcart', 227.4860890886676)
(81, 81, '2021-02-18 13:15:07.815379', 'Books', 'Flipcart', 113.19434168940124)
(82, 82, '2020-11-06 09:15:07.815379', 'Music', 'Netflix', 272.99318915513084)
(83, 83, '2021-05-27 17:15:07.815379', 'Utility', 'Phone', 244.7405553027889)
(84, 84, '2021-03-12 11:15:07.815379', 'Music', 'Amazon', 426.8521397500627)
(85, 85, '2021-05-03 17:15:07.815379', 'Food', 'Zomato', 223.40166219659463)
(86, 86, '2020-11-20 07:15:07.815379', 'Food', 'Zomato', 445.59840652333975)
(87, 87, '2021-05-03 09:15:07.815379', 'Travel', 'Metro', 416.2565522174256)
(88, 88, '2020-09-21 07:15:07.815379', 'Utility', 'Phone', 367.1234191920505)
(89, 89, '2020-10-12 10:15:07.815379', 'Music', 'Amazon', 430.9708613631159)
(90, 90, '2020-09-29 16:15:07.815379', 'Travel', 'Auto', 318.5102223236555)
(91, 91, '2021-02-18 13:15:07.815379', 'Food', 'Swiggy', 310.13347133046216)
(92, 92, '2021-09-11 09:15:07.815379', 'Food', 'Swiggy', 118.07140423650168)
(93, 93, '2021-06-15 09:15:07.815379', 'Travel', 'Metro', 454.3295830387988)
(94, 94, '2021-07-11 07:15:07.815379', 'Utility', 'Phone', 127.51664067839958)
(95, 95, '2020-12-22 16:15:07.815379', 'Music', 'spotify', 328.9925875329303)
(96, 96, '2020-10-04 12:15:07.815379', 'Travel', 'Metro', 143.9111171402323)
(97, 97, '2020-11-15 10:15:07.815379', 'Books', 'Flipcart', 238.4655708329284)
(98, 98, '2020-12-08 09:15:07.815379', 'Music', 'Netflix', 172.05164190983777)
(99, 99, '2021-07-31 13:15:07.815379', 'Utility', 'Electricity', 345.67126353343826)

In [53]:
pd.read_sql_query("select * from wallet", con=conn)

,index,Unnamed: 0,date,category,description,debit
0,0,0,2020-12-22 07:15:07.815379,Utility,Electricity,418.335478
1,1,1,2021-08-28 15:15:07.815379,Travel,Auto,301.377750
2,2,2,2021-04-01 17:15:07.815379,Books,Flipcart,176.645563
3,3,3,2021-02-25 16:15:07.815379,Travel,Auto,157.071828
4,4,4,2021-03-05 09:15:07.815379,Utility,Phone,107.683437
...,...,...,...,...,...,...
95,95,95,2020-12-22 16:15:07.815379,Music,spotify,328.992588
96,96,96,2020-10-04 12:15:07.815379,Travel,Metro,143.911117
97,97,97,2020-11-15 10:15:07.815379,Books,Flipcart,238.465571
98,98,98,2020-12-08 09:15:07.815379,Music,Netflix,172.051642
99,99,99,2021-07-31 13:15:07.815379,Utility,Electricity,345.671264

In [14]:
pd.read_sql_query?

Signature:
pd.read_sql_query(
    sql,
    con,
    index_col=None,
    coerce_float=True,
    params=None,
    parse_dates=None,
    chunksize=None,
)
Docstring:
Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query
string. Optionally provide an `index_col` parameter to use one of the
columns as the index, otherwise default integer index will be used.

Parameters
----------
sql : str SQL query or SQLAlchemy Selectable (select or text object)
    SQL query to be executed.
con : SQLAlchemy connectable(engine/connection), database str URI,
    or sqlite3 DBAPI2 connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library.
    If a DBAPI2 object, only sqlite3 is supported.
index_col : str or list of strings, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : bool, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Useful for SQL result sets.
params : list, tuple or dict, optional, default: None
    List of parameters to pass to execute method.  The syntax used
    to pass parameters is database driver dependent. Check your
    database driver documentation for which of the five syntax styles,
    described in PEP 249's paramstyle, is supported.
    Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}.
parse_dates : list or dict, default: None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times, or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the number of
    rows to include in each chunk.

Returns
-------
DataFrame

See Also
--------
read_sql_table : Read SQL database table into a DataFrame.
read_sql

Notes
-----
Any datetime values with time zone information parsed via the `parse_dates`
parameter will be converted to UTC.
File:      ~/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py
Type:      function

In [15]:
cur = conn.cursor()

### read PDf files

In [1]:
import PyPDF2
with open("/home/vikrant/Downloads/upload.pdf", "rb") as f:
    pdfreader = PyPDF2.PdfFileReader(f)
    n = pdfreader.getNumPages()
    for p in range(n):
        page = pdfreader.getPage(p)
        print(page.extractText()[:50])

National Load Despatch Centre
राष्ट्रीय भार प्
NR WR SR ER NER TOTAL
59882 41115 34238 21526 2730
16-Jul-2020
Sl
NoVoltage Level Line Details Circu

In [4]:
import PyPDF2
with open("/home/vikrant/Downloads/upload.pdf", "rb") as f:
    pdfreader = PyPDF2.PdfFileReader(f)
    n = pdfreader.getNumPages()
    page = pdfreader.getPage(1)
    print(page.extractText())

NR WR SR ER NER TOTAL
59882 41115 34238 21526 2730 159491
1114 0 0 0 6 1120
1398 998 807 447 48 3698
355 33 77 149 29 643
11 49 128 - - 187
39.60 16.60 41.59 4.60 0.03 102
12.6 0.0 0.0 0.0 0.0 12.6
65470 43593 38117 21535 2827 160654
22:20 10:29 10:00 21:20 19:41 21:26
Region FVI < 49.7 49.7 - 49.8 49.8 - 49.9 < 49.9 49.9 - 50.05 > 50.05
All India 0.057 0.16 1.81 13.19 15.16 76.52 8.32
Max.Demand Shortage during Energy Met Drawal OD(+)/UD(-) Max OD Energy
Region States Met during the
day(MW)maximum
Demand(MW)(MU)Schedule
(MU)(MU) (MW)Shortage
(MU)
Punjab 11090 0 237.9 146.8 -1.8 49 0.0
Haryana 9388 0 209.4 152.8 0.7 325 1.9
Rajasthan 12087 0 262.4 119.7 5.4 809 0.0
Delhi 5726 0 118.6 102.8 -1.4 228 0.0
NR UP 22873 0 448.9 208.5 2.0 546 0.4
Uttarakhand 1899 0 42.8 20.7 0.8 111 0.0
HP 1366 0 28.6 -2.6 -0.2 91 0.0
J&K(UT) & Ladakh(UT) 2177 544 43.1 20.3 0.4 502 10.3
Chandigarh 295 0 6.0 5.9 0.2 61 0.0
Chhattisgarh 3685 0 86.9 36.8 0.8 468 0.0
Gujarat 13478 0 286.2 87.6 4.0 527 0.0
MP 9547 0 214.7 113.8 -3.8 198 0.0
WR Maharashtra 16964 0 365.1 138.1 -1.9 457 0.0
Goa 405 0 8.5 8.2 -0.2 33 0.0
DD 246 0 5.3 5.3 0.0 19 0.0
DNH 614 0 14.0 13.8 0.2 44 0.0
AMNSIL 777 0 17.1 4.2 0.7 272 0.0
Andhra Pradesh 6439 0 141.0 45.6 -1.3 607 0.0
Telangana 8614 0 167.3 81.6 -2.5 385 0.0
SR Karnataka 8486 0 155.1 51.1 -3.4 650 0.0
Kerala 3077 0 65.2 46.1 0.5 179 0.0
Tamil Nadu 12371 0 271.3 125.9 -3.7 573 0.0
Puducherry 349 0 7.5 7.5 -0.1 35 0.0
Bihar 5740 0 111.5 106.0 -0.3 386 0.0
DVC 2989 0 62.7 -42.6 -0.7 206 0.0
Jharkhand 1438 0 26.3 18.5 -1.0 124 0.0
ER Odisha 3983 0 82.2 -0.2 -0.2 325 0.0
West Bengal 7917 0 162.6 47.2 -0.8 303 0.0
Sikkim 100 0 1.4 1.5 -0.1 17 0.0
Arunachal Pradesh 120 3 2.0 1.8 0.2 40 0.0
Assam 1759 23 30.0 27.1 -0.1 135 0.0
Manipur 183 1 2.6 2.3 0.3 37 0.0
NER Meghalaya 307 2 5.3 -1.3 0.3 52 0.0
Mizoram 89 1 1.5 1.2 0.0 13 0.0
Nagaland 140 2 2.2 2.3 -0.2 23 0.0
Tripura 298 7 4.9 5.9 0.7 66 0.0
Bhutan Nepal Bangladesh
53.3 -1.5 -19.1
2337.0 -271.3 -1110.0
NR WR SR ER NER TOTAL
352.1 -295.4 95.0 -145.8 -6.0 0.0
359.2 -293.7 84.6 -152.6 -3.4 -6.0
7.1 1.6 -10.5 -6.9 2.6 -6.0
NR WR SR ER NER TOTAL
3838 14847 11792 3445 677 34598
9289 23225 14423 4892 47 51876
13127 38072 26215 8337 723 86473
NR WR SR ER NER All India
546 1080 370 482 7 2486
25 13 14 0 0 52
355 33 77 149 29 643
26 33 47 0 0 106
40 82 19 0 22 163
71 73 210 5 0 359
1063 1314 737 636 58 3809
6.71 5.54 28.51 0.73 0.05 9.43
42.55 10.54 45.35 24.19 49.63 29.09
1.068
1.102 Based on State Max Demands
Diversity factor = Sum of regional or state maximum demands / All India maximum demand
*Source: RLDCs for solar connected to ISTS; SLDCs for embedded solar. Limited visibility of embedded solar data.
Executive Director-NLDCShare of RES in total generation (%)
Share of Non-fossil fuel (Hydro,Nuclear and RES) in total generation(%)
H. All India Demand Diversity Factor
Based on Regional Max DemandsLignite
Hydro
Nuclear
Gas, Naptha & Diesel
RES (Wind, Solar, Biomass & Others)
TotalState Sector
Total
G. Sourcewise generation (MU)
CoalActual(MU)
O/D/U/D(MU)
F. Generation Outage(MW)
Central SectorDay Peak (MW)
E. Import/Export by Regions (in MU) - Import(+ve)/Export(-ve); OD(+)/UD(-)
Schedule(MU)D. Transnational Exchanges (MU) - Import(+ve)/Export(-ve)
Actual (MU)Energy Shortage (MU)
Maximum Demand Met During the Day (MW) (From NLDC SCADA)
Time Of Maximum Demand Met (From NLDC SCADA)
B. Frequency Profile (%)
C. Power Supply Position in StatesDemand Met during Evening Peak hrs(MW) (at 2000 hrs; from RLDCs)
Peak Shortage (MW)
Energy Met (MU)
Hydro Gen (MU)
Wind Gen (MU)
Solar Gen (MU)*Report for previous day Date of Reporting: 16-Jul-2020
A. Power Supply Position at All India and Regional level

In [13]:
import csv
    
def extract_tableA(page):
    lines = page.split("\n")
    tableA = lines[:9]
    
    headers = tableA[0].split()
    data = [line.strip().split() for line in tableA[1:]]
    #data = [fitem for row in data for item in row]
    return headers, data


def write_csv(headers, data, filename):
    with open(filename, "w") as f:
        csvf = csv.writer(f)
        csvf.writerow(headers)
        for row in data:
            csvf.writerow(row)

with open("/home/vikrant/Downloads/upload.pdf", "rb") as f:
    pdfreader = PyPDF2.PdfFileReader(f)
    n = pdfreader.getNumPages()
    page = pdfreader.getPage(1)
    headers,data = extract_tableA(page.extractText())
    write_csv(headers, data, "tableA.csv")

In [14]:
!cat tableA.csv

NR,WR,SR,ER,NER,TOTAL
59882,41115,34238,21526,2730,159491
1114,0,0,0,6,1120
1398,998,807,447,48,3698
355,33,77,149,29,643
11,49,128,-,-,187
39.60,16.60,41.59,4.60,0.03,102
12.6,0.0,0.0,0.0,0.0,12.6
65470,43593,38117,21535,2827,160654

In [15]:
import pandas as pd

In [19]:
df = pd.read_csv("tableA.csv")

In [25]:
df['ER'] = pd.to_numeric(df.ER.str.replace("-",""))

In [26]:
df['NER'] = pd.to_numeric(df.NER.str.replace("-",""))

In [27]:
df

        NR       WR        SR       ER      NER     TOTAL
0  59882.0  41115.0  34238.00  21526.0  2730.00  159491.0
1   1114.0      0.0      0.00      0.0     6.00    1120.0
2   1398.0    998.0    807.00    447.0    48.00    3698.0
3    355.0     33.0     77.00    149.0    29.00     643.0
4     11.0     49.0    128.00      NaN      NaN     187.0
5     39.6     16.6     41.59      4.6     0.03     102.0
6     12.6      0.0      0.00      0.0     0.00      12.6
7  65470.0  43593.0  38117.00  21535.0  2827.00  160654.0