### Opening outlook using python

Create virtual environment using (use cmd prompt to do this)

`python.exe -m venv pywinservices`

activate the environment using

`.\pytwinservices\Scripts\activate.bat`

on activated environment install following package and use follwoing code

`python -m pip install pypiwin32 typer`

In [2]:
%%file outlook.py
import win32com.client
import typer

app = typer.Typer()

@app.command()
def print_emails(folderindex:int=6, emailcount:int=10): # with this you can change 
                                                        # folders,and emailcount, 
                                                        # try different numbers
    outlook = win32com.client.Dispatch("Outlook.Application").GetNamespace("MAPI")
    inbox = outlook.GetDefaultFolder(folderindex)
    messages = inbox.Items
    for i in range(emailcount):
        message = next(messages)
        print(message.Subject)
        print(message.Body)
        print("="*30)
        
if __name__ == "__main__":
    app()

Overwriting outlook.py

### Database

In [57]:
import sqlite3

In [58]:
conn = sqlite3.connect("datbase.db")

In [59]:
cur = conn.cursor()

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv("wallet1.csv")

In [62]:
df.to_sql("wallet", con=conn)

UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores. [generic.py:2602]

ValueError: Table 'wallet' already exists.

In [63]:
r = conn.cursor().execute("select * from wallet")

In [64]:
for item in r:
    print(item)

(0, 0, '2020-12-22 07:15:07.815379', 'Utility', 'Electricity', 418.33547752172433)
(1, 1, '2021-08-28 15:15:07.815379', 'Travel', 'Auto', 301.3777497294401)
(2, 2, '2021-04-01 17:15:07.815379', 'Books', 'Flipcart', 176.6455631641013)
(3, 3, '2021-02-25 16:15:07.815379', 'Travel', 'Auto', 157.07182841795515)
(4, 4, '2021-03-05 09:15:07.815379', 'Utility', 'Phone', 107.68343696792937)
(5, 5, '2021-07-29 12:15:07.815379', 'Travel', 'Metro', 339.4906184538765)
(6, 6, '2021-02-03 08:15:07.815379', 'Travel', 'Taxi', 348.4929726117772)
(7, 7, '2021-02-10 15:15:07.815379', 'Food', 'Zomato', 495.45992817979516)
(8, 8, '2021-01-23 13:15:07.815379', 'Music', 'Amazon', 443.53640829192335)
(9, 9, '2021-02-15 08:15:07.815379', 'Food', 'Zomato', 315.50928061465976)
(10, 10, '2021-02-11 14:15:07.815379', 'Travel', 'Metro', 345.89996036923293)
(11, 11, '2020-10-15 08:15:07.815379', 'Food', 'Swiggy', 427.9949700780329)
(12, 12, '2021-01-29 11:15:07.815379', 'Utility', 'Phone', 308.71135498523984)
(13, 13, '2021-05-30 09:15:07.815379', 'Books', 'Amazon', 153.80283499592448)
(14, 14, '2021-06-12 12:15:07.815379', 'Music', 'spotify', 295.95535498165725)
(15, 15, '2021-02-07 13:15:07.815379', 'Travel', 'Auto', 390.6120017299408)
(16, 16, '2021-06-10 12:15:07.815379', 'Music', 'Netflix', 304.2118311911406)
(17, 17, '2021-02-05 07:15:07.815379', 'Travel', 'Taxi', 361.62094096602567)
(18, 18, '2020-10-22 15:15:07.815379', 'Food', 'Swiggy', 447.4365389177168)
(19, 19, '2020-11-20 11:15:07.815379', 'Food', 'Swiggy', 264.8653450400193)
(20, 20, '2021-01-18 08:15:07.815379', 'Travel', 'Taxi', 163.8499257229653)
(21, 21, '2021-05-26 09:15:07.815379', 'Books', 'Flipcart', 124.37875915215405)
(22, 22, '2020-10-07 15:15:07.815379', 'Utility', 'Electricity', 448.61760401091914)
(23, 23, '2021-08-11 11:15:07.815379', 'Food', 'Hotel', 115.63502792106505)
(24, 24, '2021-02-01 16:15:07.815379', 'Music', 'Netflix', 127.00735257654728)
(25, 25, '2021-03-18 09:15:07.815379', 'Books', 'Amazon', 410.88379060061874)
(26, 26, '2021-05-28 11:15:07.815379', 'Books', 'Amazon Kindle', 225.38984520602628)
(27, 27, '2021-04-28 10:15:07.815379', 'Music', 'spotify', 100.69407930069981)
(28, 28, '2021-08-25 09:15:07.815379', 'Travel', 'Taxi', 365.7390292317421)
(29, 29, '2021-09-08 15:15:07.815379', 'Food', 'Swiggy', 477.42738301197767)
(30, 30, '2021-01-01 17:15:07.815379', 'Food', 'Zomato', 112.64443770713041)
(31, 31, '2021-08-30 10:15:07.815379', 'Travel', 'Metro', 338.3506457426912)
(32, 32, '2021-03-07 08:15:07.815379', 'Travel', 'Taxi', 467.22505110340586)
(33, 33, '2020-12-22 17:15:07.815379', 'Music', 'spotify', 479.43609337470497)
(34, 34, '2021-07-24 09:15:07.815379', 'Food', 'Swiggy', 211.0299924974166)
(35, 35, '2021-01-16 07:15:07.815379', 'Travel', 'Taxi', 354.5168912102425)
(36, 36, '2021-07-27 14:15:07.815379', 'Travel', 'Metro', 434.1058960264933)
(37, 37, '2021-08-12 10:15:07.815379', 'Food', 'Swiggy', 229.54874118750448)
(38, 38, '2021-07-25 08:15:07.815379', 'Food', 'Swiggy', 369.85192572939593)
(39, 39, '2021-01-14 12:15:07.815379', 'Music', 'Amazon', 243.64743248564815)
(40, 40, '2021-07-01 07:15:07.815379', 'Music', 'Netflix', 429.157774888694)
(41, 41, '2021-04-05 14:15:07.815379', 'Food', 'Zomato', 132.02891156372027)
(42, 42, '2021-02-07 13:15:07.815379', 'Books', 'Flipcart', 204.2068785907569)
(43, 43, '2020-11-17 08:15:07.815379', 'Food', 'Hotel', 264.31609250836965)
(44, 44, '2020-12-26 15:15:07.815379', 'Music', 'Amazon', 135.76771299310093)
(45, 45, '2021-05-03 08:15:07.815379', 'Utility', 'Phone', 439.0713008628417)
(46, 46, '2021-03-03 17:15:07.815379', 'Books', 'Amazon', 250.4081973171163)
(47, 47, '2021-06-10 09:15:07.815379', 'Books', 'Amazon Kindle', 438.5552776315245)
(48, 48, '2021-02-22 14:15:07.815379', 'Travel', 'Metro', 211.18254910833645)
(49, 49, '2021-06-12 13:15:07.815379', 'Utility', 'Electricity', 148.24880160403646)
(50, 50, '2020-10-08 11:15:07.815379', 'Utility', 'Phone', 163.55563419924985)
(51, 51, '2021-01-20 12:15:07.815379', 'Food', 'Swiggy', 309.58723368544395)
(52, 52, '2020-10-17 15:15:07.815379', 'Music', 'spotify', 454.12125413790864)
(53, 53, '2021-05-15 16:15:07.815379', 'Food', 'Hotel', 362.26486122947614)
(54, 54, '2021-07-19 13:15:07.815379', 'Travel', 'Metro', 127.31799507204599)
(55, 55, '2021-07-01 16:15:07.815379', 'Utility', 'Electricity', 160.39727446149246)
(56, 56, '2021-01-06 12:15:07.815379', 'Books', 'Amazon Kindle', 459.6428667290655)
(57, 57, '2021-05-10 11:15:07.815379', 'Music', 'spotify', 399.1312865363829)
(58, 58, '2020-09-23 11:15:07.815379', 'Music', 'Netflix', 211.40800191123608)
(59, 59, '2020-11-01 09:15:07.815379', 'Books', 'Amazon Kindle', 409.49565458666495)
(60, 60, '2021-04-05 07:15:07.815379', 'Utility', 'Electricity', 118.15547598859476)
(61, 61, '2021-01-10 09:15:07.815379', 'Food', 'Swiggy', 182.63688719152626)
(62, 62, '2021-08-26 11:15:07.815379', 'Utility', 'Electricity', 191.44268709224326)
(63, 63, '2021-08-18 15:15:07.815379', 'Music', 'Amazon', 157.3405046468871)
(64, 64, '2020-12-19 14:15:07.815379', 'Music', 'Amazon', 196.30725905139167)
(65, 65, '2021-02-11 08:15:07.815379', 'Travel', 'Auto', 433.966000008112)
(66, 66, '2020-12-29 15:15:07.815379', 'Music', 'Netflix', 466.75629847721046)
(67, 67, '2021-02-17 11:15:07.815379', 'Travel', 'Metro', 178.26125745738483)
(68, 68, '2021-01-06 16:15:07.815379', 'Music', 'Netflix', 489.5069570634831)
(69, 69, '2021-05-18 10:15:07.815379', 'Books', 'Amazon', 340.04846422559376)
(70, 70, '2021-05-01 10:15:07.815379', 'Utility', 'Electricity', 249.7879331429329)
(71, 71, '2020-12-25 13:15:07.815379', 'Utility', 'Phone', 359.72736244936607)
(72, 72, '2021-01-11 16:15:07.815379', 'Food', 'Hotel', 467.6109243091568)
(73, 73, '2021-07-21 13:15:07.815379', 'Music', 'Netflix', 259.40122482210757)
(74, 74, '2020-10-28 14:15:07.815379', 'Food', 'Swiggy', 272.16030559915646)
(75, 75, '2021-06-23 14:15:07.815379', 'Travel', 'Metro', 253.53717541817142)
(76, 76, '2021-05-14 14:15:07.815379', 'Utility', 'Phone', 288.20600505758887)
(77, 77, '2021-04-12 13:15:07.815379', 'Music', 'spotify', 134.1256239746048)
(78, 78, '2020-12-30 12:15:07.815379', 'Books', 'Amazon', 459.04531817691054)
(79, 79, '2021-04-01 10:15:07.815379', 'Books', 'Amazon Kindle', 131.23496926686147)
(80, 80, '2020-09-24 07:15:07.815379', 'Books', 'Flipcart', 227.4860890886676)
(81, 81, '2021-02-18 13:15:07.815379', 'Books', 'Flipcart', 113.19434168940123)
(82, 82, '2020-11-06 09:15:07.815379', 'Music', 'Netflix', 272.99318915513084)
(83, 83, '2021-05-27 17:15:07.815379', 'Utility', 'Phone', 244.7405553027889)
(84, 84, '2021-03-12 11:15:07.815379', 'Music', 'Amazon', 426.8521397500627)
(85, 85, '2021-05-03 17:15:07.815379', 'Food', 'Zomato', 223.40166219659463)
(86, 86, '2020-11-20 07:15:07.815379', 'Food', 'Zomato', 445.59840652333975)
(87, 87, '2021-05-03 09:15:07.815379', 'Travel', 'Metro', 416.2565522174256)
(88, 88, '2020-09-21 07:15:07.815379', 'Utility', 'Phone', 367.12341919205045)
(89, 89, '2020-10-12 10:15:07.815379', 'Music', 'Amazon', 430.97086136311583)
(90, 90, '2020-09-29 16:15:07.815379', 'Travel', 'Auto', 318.5102223236555)
(91, 91, '2021-02-18 13:15:07.815379', 'Food', 'Swiggy', 310.1334713304622)
(92, 92, '2021-09-11 09:15:07.815379', 'Food', 'Swiggy', 118.07140423650169)
(93, 93, '2021-06-15 09:15:07.815379', 'Travel', 'Metro', 454.32958303879883)
(94, 94, '2021-07-11 07:15:07.815379', 'Utility', 'Phone', 127.51664067839958)
(95, 95, '2020-12-22 16:15:07.815379', 'Music', 'spotify', 328.9925875329303)
(96, 96, '2020-10-04 12:15:07.815379', 'Travel', 'Metro', 143.9111171402323)
(97, 97, '2020-11-15 10:15:07.815379', 'Books', 'Flipcart', 238.4655708329284)
(98, 98, '2020-12-08 09:15:07.815379', 'Music', 'Netflix', 172.05164190983777)
(99, 99, '2021-07-31 13:15:07.815379', 'Utility', 'Electricity', 345.67126353343826)

In [25]:
pd.read_sql_query("select * from wallet", con=conn)

,index,Unnamed: 0,date,category,description,debit
0,0,0,2020-12-22 07:15:07.815379,Utility,Electricity,418.335478
1,1,1,2021-08-28 15:15:07.815379,Travel,Auto,301.377750
2,2,2,2021-04-01 17:15:07.815379,Books,Flipcart,176.645563
3,3,3,2021-02-25 16:15:07.815379,Travel,Auto,157.071828
4,4,4,2021-03-05 09:15:07.815379,Utility,Phone,107.683437
...,...,...,...,...,...,...
95,95,95,2020-12-22 16:15:07.815379,Music,spotify,328.992588
96,96,96,2020-10-04 12:15:07.815379,Travel,Metro,143.911117
97,97,97,2020-11-15 10:15:07.815379,Books,Flipcart,238.465571
98,98,98,2020-12-08 09:15:07.815379,Music,Netflix,172.051642
99,99,99,2021-07-31 13:15:07.815379,Utility,Electricity,345.671264

In [14]:
pd.read_sql_query?

Signature:
pd.read_sql_query(
    sql,
    con,
    index_col=None,
    coerce_float=True,
    params=None,
    parse_dates=None,
    chunksize=None,
)
Docstring:
Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query
string. Optionally provide an `index_col` parameter to use one of the
columns as the index, otherwise default integer index will be used.

Parameters
----------
sql : str SQL query or SQLAlchemy Selectable (select or text object)
    SQL query to be executed.
con : SQLAlchemy connectable(engine/connection), database str URI,
    or sqlite3 DBAPI2 connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library.
    If a DBAPI2 object, only sqlite3 is supported.
index_col : str or list of strings, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : bool, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Useful for SQL result sets.
params : list, tuple or dict, optional, default: None
    List of parameters to pass to execute method.  The syntax used
    to pass parameters is database driver dependent. Check your
    database driver documentation for which of the five syntax styles,
    described in PEP 249's paramstyle, is supported.
    Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}.
parse_dates : list or dict, default: None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times, or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the number of
    rows to include in each chunk.

Returns
-------
DataFrame

See Also
--------
read_sql_table : Read SQL database table into a DataFrame.
read_sql

Notes
-----
Any datetime values with time zone information parsed via the `parse_dates`
parameter will be converted to UTC.
File:      ~/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py
Type:      function

In [15]:
cur = conn.cursor()

### read PDf files

In [51]:
import PyPDF2
with open("/home/vikrant/Downloads/upload.pdf", "rb") as f:
    pdfreader = PyPDF2.PdfFileReader(f)
    n = pdfreader.getNumPages()
    for p in range(n):
        page = pdfreader.getPage(p)
        print(page.extractText()[:50])

National Load Despatch Centre


POWER SYSTEM O
NR
WR
SR
ER
NER
TOTAL
59882
41115
34238
21526
2730
16-Jul-2020
Sl
No
Voltage Level
Line Details
Circ

In [55]:
import PyPDF2
with open("/home/vikrant/Downloads/upload.pdf", "rb") as f:
    pdfreader = PyPDF2.PdfFileReader(f)
    n = pdfreader.getNumPages()
    page = pdfreader.getPage(1)
    print(page.extractText()[:300])

NR
WR
SR
ER
NER
TOTAL
59882
41115
34238
21526
2730
159491
1114
0
0
0
6
1120
1398
998
807
447
48
3698
355
33
77
149
29
643
11
49
128
-
-
187
39.60
16.60
41.59
4.60
0.03
102
12.6
0.0
0.0
0.0
0.0
12.6
65470
43593
38117
21535
2827
160654
22:20
10:29
10:00
21:20
19:41
21:26
Region
FVI
< 49.7
49.7 - 49.8

In [48]:

    
def chunks(items, n, count):
    s = 0
    for i in range(count):
        yield items[s:s+n]
        s = (i+1)*n
    
def extract_tableA(page):
    lines = page.split("\n")
    header = "NR WR SR ER NER TOTAL".split()
    data = {}
    steps = chunks(lines, len(header), 9)
    next(steps)
    for row in steps:
        for h,d in zip(header, row):
            data.setdefault(h, []).append(d)
    return pd.DataFrame(data)

with open("/home/vikrant/Downloads/upload.pdf", "rb") as f:
    pdfreader = PyPDF2.PdfFileReader(f)
    n = pdfreader.getNumPages()
    page = pdfreader.getPage(1)
    df = extract_tableA(page.extractText())

In [49]:
for r in chunks(range(20), 5, 3):
    print(r)

range(0, 5)
range(5, 10)
range(10, 15)

In [50]:
df

      NR     WR     SR     ER   NER   TOTAL
0  59882  41115  34238  21526  2730  159491
1   1114      0      0      0     6    1120
2   1398    998    807    447    48    3698
3    355     33     77    149    29     643
4     11     49    128      -     -     187
5  39.60  16.60  41.59   4.60  0.03     102
6   12.6    0.0    0.0    0.0   0.0    12.6
7  65470  43593  38117  21535  2827  160654

### Regular Expressions

In [65]:
import re

In [ ]:
p = re.compile(r'')